<footer class="py-4">
  <div class="py-5 container text-center d-lg-flex justify-content-between">
    <p class="text-light">© 2024 LifeNation, All rights reserved</p>

    <p class="text-light">Powered by: <a href="">Sogital Labs</a></p>
  </div>
</footer>
