<footer class="py-4">
  <div class="container d-lg-flex justify-content-between">
    <p class="text-light">© 2024 FaithBuilder, All rights reserved</p>

    <p class="text-light">
      Developed in Liberia with &#9829 by: <a href="">Sogital Labs</a>
    </p>
  </div>
</footer>
