<footer>
  <!-- <div
    class="container text-light d-flex justify-content-between align-items-center"
  >
    <div class="">
      <h3>Life Groups</h3>
      <p>Connecting Christians for spiritual growth and community.</p>
    </div>

    <div class="">
      <h3>Life Groups</h3>
      <p>Connecting Christians for spiritual growth and community.</p>
    </div>

    <div class="">
      <h3>Life Groups</h3>
      <p>Connecting Christians for spiritual growth and community.</p>
    </div>
  </div> -->
  <div class="py-4 container text-center d-lg-flex justify-content-between">
    <p class="text-light">© 2024 LifeNation, All rights reserved</p>

    <p class="text-light">
      Powered by:
      <a href="https://web.facebook.com/sogital.labs" target="blank"
        >Sogital Labs</a
      >
    </p>
  </div>
</footer>
