<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Life Groups</title>
    <link rel="icon" href="/images/logo.jpg" />
    <link rel="stylesheet" href="/styles/bootstrap.min.css" />
    <link rel="stylesheet" href="/styles/index.css" />

    <!-- font  -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Lilita+One&family=Poetsen+One&display=swap"
      rel="stylesheet"
    />

    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css"
    />

    <!-- animation  -->
    <!-- <script src="https://www.unpkg.com/spltjs@1.1.0"></script> -->
  </head>

  <style>
    h1 {
      font-family: "Poetsen One", sans-serif;
      font-weight: 400;
      font-style: normal;
    }
  </style>

  <body>
    <!--navigation bar-->
    <%- include('partials/header') %>
    <main>
      <!-- hero section  -->
      <div
        class="jumbotron text-center py-5 px-2 d-flex align-items-center justify-content-center"
        style="
          background-image: linear-gradient(
              rgba(0, 0, 5, 0.5),
              rgba(0, 0, 0, 0.9)
            ),
            url(/images/hero1.jpg);
          background-size: cover;
          background-position: center;
          height: 80vh;
          margin-top: 78px;
        "
      >
        <div class="py-5">
          <!-- <h1 class="display-3 fw-bold text-light">
            Learn, Discuss, Pray, & Grow Together
          </h1> -->

          <h1 class="display-3 fw-bold text-light">
            You weren't <span class="text-success hero-text splt">designed</span
            ><br />
            to do life alone.
          </h1>

          <p class="lead text-light">
            Get connected to a small group of Christians to LEARN, DISCUSS,
            <span class="fw-bolder">PRAY</span>, & GROW together
          </p>

          <p class="lead mt-5 hero-cta-btn splt">
            <a
              class="btn fw-bold btn-lg btn-success"
              href="/prayer-groups"
              role="button"
              >FIND A GROUP</a
            >
          </p>
        </div>
      </div>

      <!-- usage section -->
      <div class="bg-light py-5">
        <div class="text-dark px-4 text-center pt-5 mb-5">
          <h1>How It Works</h1>
        </div>

        <div
          class="pb-5 d-flex flex-lg-row flex-column justify-content-center align-items-center"
        >
          <!-- Create an account  -->
          <div class="card text-center m-4" style="width: 18rem">
            <div class="mb-3">
              <i
                class="bi bi-people-fill fs-2 rounded p-3 bg-success text-light"
              ></i>
            </div>
            <div class="card-body">
              <h5 class="card-title fw-bolder">Create an Account</h5>
              <p class="card-text">
                Sign up as a member to access the platform.
              </p>
            </div>
          </div>

          <!-- join group  -->
          <div class="card text-center m-4" style="width: 18rem">
            <div class="mb-3">
              <i
                class="bi bi-bounding-box-circles fs-2 rounded p-3 bg-success text-light"
              ></i>
            </div>
            <div class="card-body">
              <h5 class="card-title fw-bolder">Join a Group</h5>
              <p class="card-text">
                Find and join a group that suits your interests and schedule.
              </p>
            </div>
          </div>

          <!-- connect  -->
          <div class="card text-center m-4" style="width: 18rem">
            <div class="mb-3">
              <i
                class="bi bi-whatsapp fs-2 rounded p-3 bg-success text-light"
              ></i>
            </div>
            <div class="card-body">
              <h5 class="card-title fw-bolder">Connect on WhatsApp</h5>
              <p class="card-text">
                Click your prefer group WhatsApp link to join and start
                interacting.
              </p>
            </div>
          </div>
        </div>
      </div>

      <!-- second section  -->
      <div class="py-5" style="background-color: #ddf3df">
        <div class="text-dark py-lg-5 px-4 my-lg-5 text-center">
          <h1 class="display-1 fw-bold">
            <span class="text-success">Connecting People.</span> <br />
            Activating Faith.
          </h1>
          <p class="lead mt-4">
            When we connect with people who are committed to following Jesus, we
            set ourselves up for the support and encouragement we need to
            thrive.
          </p>

          <!-- <div class="mt-5">
            <img
              src="/images/hero2.jpg"
              class="img-fluid px-lg-5"
              alt="Responsive image"
            />
          </div> -->

          <p class="lead mt-5">
            <a
              class="btn fw-bold btn btn-outline-success btn-lg"
              href="/prayer-groups"
              role="button"
              >GET CONNECTED</a
            >
          </p>
        </div>
      </div>

      <!-- last section  -->
      <div
        class="py-5 text-lg-start text-md-center text-center bg-light d-lg-flex justify-content-center"
      >
        <div class="row container py-5 my-5">
          <div class="col-lg px-4">
            <img
              src="/images/pastors.jpg"
              class="img-fluid rounded"
              alt="Responsive image"
            />
          </div>

          <div class="col px-4 mt-2">
            <div class="text-dark">
              <h1 class="display-4 fw-bold">
                <span class="text-success">Wherever you are,</span> there's a
                group for you!
              </h1>
              <p class="lead mt-4">Grow your faith with like minded people.</p>

              <p class="lead mt-5">
                <a
                  class="btn fw-bold btn btn-success btn-lg"
                  href="/prayer-groups"
                  role="button"
                  >FIND YOUR TRIBE</a
                >
              </p>
            </div>
          </div>
        </div>
      </div>

      <!--footer-->
      <%- include('partials/footer') %>
    </main>

    <script src="/javascript/bootstrap.min.js"></script>
  </body>
</html>
