<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Life Church Portal</title>
    <link rel="icon" href="/images/logo.jpg">
    <link rel="stylesheet" href="/styles/bootstrap.min.css">
    <link rel="stylesheet" href="/styles/index.css">
</head>

<body>
    <!--navigation bar-->
    <header class="bg-light">
        <section class=" p-2" id="nav-area">
            <div class="container">
                <nav class="navbar navbar-expand-lg navbar-light">
                    <div class="container-fluid">
                        <a class="navbar-brand fw-bolder fs-3" href="/">
                            <!-- <i class="fas fa-warehouse text-red"></i> -->
                            Life<span style="color: #2f5c06;">Church</span>
                            <!-- <img src="/images/logo.jpg" alt=""> -->
                        </a>
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                    </button>
                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                                <li class="nav-item ps-2">
                                    <a class="nav-link active fw-bold py-3" aria-current="page" href="#"></a>
                                </li>
                                <li class="nav-item ps-2">
                                    <a class="nav-link active fw-bold py-3" aria-current="page" href="https://www.facebook.com/lifechurch.liberia" target="blank">About</a>
                                </li>
                                <li class="nav-item ps-2">
                                    <a class="nav-link active fw-bold py-3" aria-current="page" href="https://www.facebook.com/lifechurch.liberia" target="blank">Contact Us</a>
                                </li>
                            </ul>

                        </div>
                    </div>
                </nav>
            </div>
        </section>
    </header>
    <main>
        <section class="text-center text-light mt-5 ">

            <h1 class="mt-5 fw-bolder">
                Welcome To LifeNation
            </h1>
            <!-- <p class="mb-2 mt-5">We Are One Nation - God's People - Life Nation!</p> -->
        </section>
        <section class="d-lg-flex justify-content-center align-items-center">
            <div id="wrapper" class="d-flex justify-content-center align-items-center">
                <div class="card col-lg mx-5 mb-5 mt-3 image-card" style="width: 25rem;">
                    <!-- <div>
                        <img class="card-img-top" src="/images/worshippers.jpg" alt="Card image cap">
                    </div> -->
                    <img class="card-img-top" src="/images/pastors.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title fw-bolder text-center">Prayer Partner Connection</h5>
                        <p class="card-text text-center">The Bible States in Proverbs 27:17, Iron sharpens it and one man sharpens his friend. Therefore, In these prayer season we are building a Tribe of prayer team that works for you best. Find your Tribe: Join a Family.</p>
                        <!-- <a href="" class="btn btn-primary mt-4" style="background-color: #5c1a06; width: 100%;">ABOUT 31 DAYS PRAYER SEASON</a> -->
                        <a href="/prayer-signup" class="btn btn-primary mt-4" style="background-color: #2f5c06; width: 100%;">FIND PRAYER GROUP</a>
                    </div>
                </div>
                <!-- <div class="card col-lg m-2 image-card" style="width: 25rem;">
                    <div>
                        <img class="card-img-top" src="..." alt="Card image cap">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title fw-bolder">Refresh Attendance Tracker</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="#" class="btn btn-primary">SIGNUP</a>
                    </div>
                </div> -->
            </div>
        </section>
    </main>

    <script src="/javascript/bootstrap.min.js"></script>
</body>

</html>