<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Life Groups</title>
    <link rel="icon" href="/images/logo.jpg" />
    <link rel="stylesheet" href="/styles/bootstrap.min.css" />
    <link rel="stylesheet" href="/styles/index.css" />

    <!-- font  -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Lilita+One&family=Poetsen+One&display=swap"
      rel="stylesheet"
    />
  </head>

  <style>
    h1 {
      font-family: "Poetsen One", sans-serif;
      font-weight: 400;
      font-style: normal;
    }
  </style>

  <body>
    <!--navigation bar-->
    <%- include('partials/header') %>
    <main>
      <!-- hero section  -->
      <div
        class="jumbotron text-center py-5 d-flex align-items-center justify-content-center"
        style="
          background: url(/images/hero1.jpg);
          background-size: cover;
          background-position: center;
          height: 80vh;
        "
      >
        <div class="py-5">
          <!-- <h1 class="display-3 fw-bold text-light">
            Learn, Discuss, Pray, & Grow Together
          </h1> -->

          <h1 class="display-3 fw-bold text-light">
            You weren't <span class="text-success">designed</span><br />
            to do life alone.
          </h1>

          <p class="lead text-light">
            Get connected to a small group of Christians to LEARN, DISCUSS,
            <span class="fw-bolder">PRAY</span>, & GROW together
          </p>

          <p class="lead mt-5">
            <a
              class="btn fw-bold btn-lg btn-success"
              href="/prayer-groups"
              role="button"
              >FIND A GROUP</a
            >
          </p>
        </div>
      </div>

      <!-- second section  -->
      <div class="py-5" style="background-color: #faebd7">
        <div class="text-dark py-lg-5 px-4 my-lg-5 text-center">
          <h1 class="display-1 fw-bold">
            <span class="text-success">Connecting People.</span> <br />
            Activating Faith.
          </h1>
          <p class="lead mt-4">
            When we connect with people who are committed to following Jesus, we
            set ourselves up for the support and encouragement we need to
            thrive.
          </p>

          <!-- <div class="mt-5">
            <img
              src="/images/hero2.jpg"
              class="img-fluid px-lg-5"
              alt="Responsive image"
            />
          </div> -->

          <p class="lead mt-5">
            <a
              class="btn fw-bold btn btn-outline-success btn-lg"
              href="/prayer-groups"
              role="button"
              >GET CONNECTED</a
            >
          </p>
        </div>
      </div>

      <!-- last section  -->
      <div
        class="py-5 text-lg-start text-md-center text-center bg-light d-lg-flex justify-content-center"
      >
        <div class="row container py-5 my-5">
          <div class="col-lg px-4">
            <img
              src="/images/pastors.jpg"
              class="img-fluid rounded"
              alt="Responsive image"
            />
          </div>

          <div class="col px-4 mt-2">
            <div class="text-dark">
              <h1 class="display-4 fw-bold">
                Wherever you are, there's a group for you!
              </h1>
              <p class="lead mt-4">Grow your faith with like minded people.</p>

              <p class="lead mt-5">
                <a
                  class="btn fw-bold btn btn-success btn-lg"
                  href="/prayer-groups"
                  role="button"
                  >FIND YOUR TRIBE</a
                >
              </p>
            </div>
          </div>
        </div>
      </div>

      <!--footer-->
      <%- include('partials/footer') %>
    </main>

    <script src="/javascript/bootstrap.min.js"></script>
  </body>
</html>
