<!DOCTYPE html>
<html lang="en">
  <!-- head starts  -->
  <%- include('./partials/dashboard-head') %>
  <!-- head ends  -->

  <body>
    <!--  Body Wrapper -->
    <div
      class="page-wrapper"
      id="main-wrapper"
      data-layout="vertical"
      data-navbarbg="skin6"
      data-sidebartype="full"
      data-sidebar-position="fixed"
      data-header-position="fixed"
    >
      <!-- Sidebar Start -->
      <%- include('./partials/dashboard-sidebar') %>
      <!--  Sidebar End -->

      <!--  Main wrapper -->
      <div class="body-wrapper">
        <!--  Header Start -->
        <%- include('./partials/dashboard-header') %>
        <!--  Header End -->

        <!-- page content  -->
        <div class="container-fluid">
          <!-- About  -->
          <div>
            <h1 class="fw-bolder">About Prayer Group</h1>
            <p>
              Lorem Ipsum is simply dummy text of the printing and typesetting
              industry. Lorem Ipsum has been the industry's standard dummy text
              ever since the 1500s, when an unknown printer took a galley of
              type and scrambled it to make a type specimen book. It has
              survived not only five centuries, but also the leap into
              electronic typesetting, remaining essentially unchanged. It was
              popularised in the 1960s with the release of Letraset sheets
              containing Lorem Ipsum passages, and more recently with desktop
              publishing software like Aldus PageMaker including versions of
              Lorem Ipsum.
            </p>

            <div class="py-4">
              <small class="muted me-3"
                ><strong>Created By:</strong> Boakai Dobor Kamara</small
              >
              <small class="muted me-3"
                ><strong>Group Region: </strong>Lofa</small
              >
              <small class="muted me-3"
                ><strong>Community:</strong> GSA Road</small
              >
              <small class="muted"><strong>Members Count:</strong> 10</small>
            </div>

            <div class="row">
              <div class="col-lg-4">
                <button type="button" class="btn btn-outline-success me-3 my-2">
                  JOIN GROUP
                </button>
                <button type="button" class="btn btn-dark me-3 my-3">
                  OPEN GROUP
                </button>
              </div>
            </div>
          </div>

          <!-- member  -->
          <div class="mt-5 mb-3">
            <h4 class="pb-3 fw-bolder">Group Members</h4>
            <div class="list-group">
              <a href="#" class="list-group-item list-group-item-action"
                >Boakai Dorbor Kamara</a
              >
              <a href="#" class="list-group-item list-group-item-action"
                >Joel White</a
              >
              <a href="#" class="list-group-item list-group-item-action"
                >Ted Roberts</a
              >
            </div>
          </div>

          <!-- see more btn  -->
          <a href="">See More</a>
        </div>
      </div>
    </div>
    <!-- dashboard script starts  -->
    <%- include('./partials/dashboard-script') %>
    <!-- dashboard script ends  -->
  </body>
</html>
