<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Life Church Portal</title>
    <link rel="stylesheet" href="/styles/bootstrap.min.css">
    <link rel="stylesheet" href="/styles/style.css">
</head>

<body>
    <!--navigation bar-->
    <header class="bg-light">
        <section class=" p-2" id="nav-area">
            <div class="container">
                <nav class="navbar navbar-expand-lg navbar-light">
                    <div class="container-fluid">
                        <a class="navbar-brand fw-bolder fs-3" href="index.html">
                            <!-- <i class="fas fa-warehouse text-red"></i> -->
                            LIFE CHURCH
                        </a>
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                    </button>
                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                                <li class="nav-item ps-2">
                                    <a class="nav-link active fw-bold py-3" aria-current="page" href="#"></a>
                                </li>
                                <li class="nav-item ps-2">
                                    <a class="nav-link active fw-bold py-3" aria-current="page" href="#">About</a>
                                </li>
                                <li class="nav-item ps-2">
                                    <a class="nav-link active fw-bold py-3" aria-current="page" href="#">Contact Us</a>
                                </li>
                            </ul>

                        </div>
                    </div>
                </nav>
            </div>
        </section>
    </header>
    <main>
        <section class="text-center text-light">

            <h1 class="mt-5 fw-bolder">
                PRAYER PARTNER CONNECTION
            </h1>
            <p class="mb-5">We Are One Nation - God's People - Life Nation!</p>
        </section>
        <section class="d-lg-flex justify-content-center align-items-center">
            <form>
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Email address</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                    <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
                </div>
                <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">Password</label>
                    <input type="password" class="form-control" id="exampleInputPassword1">
                </div>
                <div class="mb-3 form-check">
                    <input type="checkbox" class="form-check-input" id="exampleCheck1">
                    <label class="form-check-label" for="exampleCheck1">Check me out</label>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </section>
    </main>

</body>

</html>