<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>FaithBuilder</title>
    <link rel="shortcut icon" type="image/png" />
    <link rel="stylesheet" href="/dashboard/css/styles.min.css" />
  </head>

  <body>
    <!--  Body Wrapper -->
    <div
      class="page-wrapper"
      id="main-wrapper"
      data-layout="vertical"
      data-navbarbg="skin6"
      data-sidebartype="full"
      data-sidebar-position="fixed"
      data-header-position="fixed"
    >
      <div
        class="position-relative overflow-hidden radial-gradient min-vh-100 d-flex align-items-center justify-content-center"
      >
        <div class="d-flex align-items-center justify-content-center w-100">
          <div class="row justify-content-center w-100">
            <div class="col-md-8 col-lg-6 col-xxl-6">
              <div class="card mb-0">
                <div class="card-body">
                  <a
                    href="/"
                    class="text-nowrap logo-img text-center d-block py-3 w-100"
                  >
                    <!-- <img
                      src="/dashboard/images/logos/dark-logo.svg"
                      width="180"
                      alt=""
                    /> -->
                    <h2>
                      Faith<span style="font-weight: bolder">Builder</span>
                    </h2>
                  </a>
                  <p class="text-center">Create Your Account</p>
                  <form id="signup-form">
                    <!-- First Name  -->
                    <div class="mb-3">
                      <label for="first-name" class="form-label"
                        >First Name</label
                      >
                      <input
                        type="text"
                        name="first_name"
                        class="form-control"
                        id="first-name"
                        aria-describedby="textHelp"
                        required
                      />
                    </div>

                    <!-- Last Name  -->
                    <div class="mb-3">
                      <label for="last-name" class="form-label"
                        >Last Name</label
                      >
                      <input
                        type="text"
                        name="last_name"
                        class="form-control"
                        id="last-name"
                        aria-describedby="textHelp"
                        required
                      />
                    </div>

                    <!-- Phone -->
                    <div class="mb-3">
                      <label for="phone-number" class="form-label"
                        >Phone Number</label
                      >
                      <input
                        type="tel"
                        name="phone_number"
                        class="form-control"
                        id="phone-number"
                        aria-describedby="emailHelp"
                        required
                      />
                    </div>

                    <!-- Username -->
                    <div class="mb-3">
                      <label for="username" class="form-label">Username</label>
                      <input
                        type="text"
                        name="username"
                        class="form-control"
                        id="username"
                        aria-describedby="emailHelp"
                        required
                      />
                    </div>

                    <!-- Password  -->
                    <div class="mb-4">
                      <label for="password" class="form-label">Password</label>
                      <input
                        type="password"
                        name="password"
                        class="form-control"
                        id="password"
                        required
                      />
                    </div>
                    <input
                      type="submit"
                      class="btn btn-primary w-100 py-8 fs-4 mb-4 rounded-2"
                      value="REGISTER"
                    />

                    <div
                      class="d-flex align-items-center justify-content-center"
                    >
                      <p class="fs-4 mb-0 fw-bold">Already have an Account?</p>
                      <a class="text-primary fw-bold ms-2" href="/login"
                        >Login</a
                      >
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="../assets/libs/jquery/dist/jquery.min.js"></script>
    <script src="../assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <!-- custom js  -->
    <script src="/javascript/signup.js"></script>

    <!-- sweet alert  -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  </body>
</html>
