<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>LifeGroups-Signup</title>
    <link rel="shortcut icon" type="image/png" href="/images/logo.jpg" />
    <link rel="stylesheet" href="/dashboard/css/styles.min.css" />
    <link rel="stylesheet" href="/dashboard/css/styles.min.css" />
  </head>

  <body>
    <!--  Body Wrapper -->
    <div
      class="page-wrapper"
      id="main-wrapper"
      data-layout="vertical"
      data-navbarbg="skin6"
      data-sidebartype="full"
      data-sidebar-position="fixed"
      data-header-position="fixed"
    >
      <div
        class="position-relative overflow-hidden radial-gradient min-vh-100 d-flex align-items-center justify-content-center"
      >
        <div class="d-flex align-items-center justify-content-center w-100">
          <div class="row justify-content-center w-100">
            <div class="col-md-8 col-lg-6 col-xxl-6">
              <div class="card mb-0">
                <div class="card-body">
                  <!-- <a
                    href="/"
                    class="text-nowrap logo-img text-center d-block py-3 w-100"
                  >
                    <h4 class="text-success">LIFE GROUPS</h4>
                  </a> -->
                  <h2 class="text-center fw-bolder mb-5">Create an Account</h2>
                  <form id="signup-form">
                    <!-- Fullname  -->
                    <div class="mb-3">
                      <label for="first-name" class="form-label"
                        >Full Name</label
                      >
                      <input
                        type="text"
                        name="full_name"
                        class="form-control"
                        id="full-name"
                        aria-describedby="textHelp"
                        placeholder="Blama Doe"
                      />
                    </div>

                    <!-- Gender  -->
                    <div class="mb-3">
                      <label for="gender" class="form-label">Gender</label>
                      <select
                        class="form-select"
                        name="gender"
                        aria-label="Default select example"
                        id="gender"
                      >
                        <option selected>Select Gender</option>
                        <option value="male">Male</option>
                        <option value="female">Female</option>
                      </select>
                    </div>

                    <!-- Phone -->
                    <div class="mb-3">
                      <label for="phone-number" class="form-label"
                        >Phone Number</label
                      >
                      <input
                        type="tel"
                        name="phone_number"
                        class="form-control"
                        id="phone-number"
                        aria-describedby="emailHelp"
                        placeholder="0770123456"
                        required
                      />
                    </div>

                    <!-- Password  -->
                    <div class="mb-4">
                      <label for="password" class="form-label">Password</label>
                      <input
                        type="password"
                        name="password"
                        class="form-control"
                        id="password"
                      />
                    </div>

                    <!-- Role  -->
                    <div class="mb-3">
                      <span class="me-4">
                        <input
                          type="radio"
                          name="role"
                          value="member"
                          id="member"
                        />
                        <label for="member" class="form-label">Member</label>
                      </span>

                      <span>
                        <input
                          type="radio"
                          name="role"
                          value="admin"
                          id="admin"
                        />
                        <label for="admin" class="form-label">Admin</label>
                      </span>
                    </div>

                    <!-- PIN -->
                    <div class="mb-3 d-none" id="pin-container">
                      <label for="pin" class="form-label"
                        >Verification PIN</label
                      >
                      <input
                        type="text"
                        name="pin"
                        class="form-control"
                        id="pin"
                        aria-describedby="emailHelp"
                      />
                    </div>

                    <!-- submit btn  -->
                    <input
                      type="submit"
                      disabled
                      id="submit-btn"
                      class="btn btn-success w-100 py-8 fs-4 mb-4 rounded-2"
                      value="Register"
                    />

                    <div
                      class="d-flex align-items-center justify-content-center"
                    >
                      <p class="fs-4 mb-0 fw-bold">Already have an Account?</p>
                      <a class="text-primary fw-bold ms-2" href="/login"
                        >Login</a
                      >
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="../assets/libs/jquery/dist/jquery.min.js"></script>
    <script src="../assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <!-- custom js  -->
    <script src="/javascript/signup.js"></script>

    <!-- sweet alert  -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  </body>
</html>
