<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Life Church Portal</title>
    <link rel="icon" href="/images/logo.jpg" />
    <link rel="stylesheet" href="/styles/bootstrap.min.css" />
    <link rel="stylesheet" href="/styles/style.css" />
  </head>

  <body>
    <!--navigation bar-->
    <%- include('partials/header') %>
    <main class="container m-5">
      <section
        class="d-flex flex-column justify-content-around align-items-center text-center m-5"
      >
        <h1 class="mt-5 fw-bolder">THANK YOU</h1>
        <p class="px-4">Click the link below to join WhatsApp Group.</p>
        <p><a href="">www.whatsapp.com</a></p>
      </section>
    </main>
    <!-- include bootstrap js  -->
    <script src="/javascript/bootstrap.min.js"></script>
  </body>
</html>
